{erl_opts, [warnings_as_errors, debug_info, {parse_transform, lager_transform}]}.
{deps, [
        {lager, {git, "git://github.com/basho/lager.git", {tag, "2.1.1"}}},
        {riak_dt, {git, "git://github.com/basho/riak_dt.git", {tag, "2.1.1"}}},
        {eleveldb, {git, "git://github.com/helium/eleveldb.git", {branch, "adt-helium"}}}
       ]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{cover_enabled, true}.
